
<h1>Eat The Burger!</h1>

<ol>
  {{#each burgers}}
      {{#unless devoured}}
      <p>
      <li id="uneaten">
        {{this.burger_name}}
        <button data-burgerid="{{this.id}}" class="devourburger">Devour it!</button>
      </li>
      </p>
  {{/unless}}
  {{/each}}
</ol>


<form class="create-form">
  	<label for="addburger">Add a Burger: </label>
  	<textarea id="addburger" type="text" name="burger_name" rows="4" cols="40"></textarea>

<button id="submit" type="submit">Submit</button>
</form>
