
<h1>Eat The Burger!</h1>

<ul>
  {{#each burgers}}
      {{#unless devoured}}
      <li id="uneaten">
        <p>
        {{this.id}}. {{this.burger_name}}
        <button data-burgerid="{{this.id}}" class="devourburger">Devour it!</button>
        </p>
      </li>
  {{/unless}}
  {{/each}}
</ul>


<form class="create-form">
  	<label for="addburger">Add a Burger: </label>
  	<textarea id="addburger" type="text" name="burger_name" rows="4" cols="40"></textarea>

<button id="submit" type="submit">Submit</button>
</form>
